 @import url('httpsL//fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
    }
    body {
        text-align: center;
        background-color: ghostwhite;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        width: 100%;
        background-color: rgb(228, 235, 253);
        
    }

    h1 {
        color: black;
        font-family: 'Playfair Display', serif;
        font-size: 2.5rem;
        margin-bottom: 20px;
    
    }

    p {
        color: black;
        font-family: 'Playfair Display', serif;
        font-size: larger;
        
        
    }